
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.elemento{
    height: 100vh;
    margin:0 auto;
    position: relative;
}
.container{
  scroll-snap-type: y mandatory;
  /*scroll-snap-type: y proximity;*/
  overflow-y: scroll;
  height: 100vh; /*el contenedor debe tener un alto espacificado*/
}
section{
  height: 100vh;
  color: white;
  scroll-snap-align: start;
}
#section-1{
    background-color: #073b4c;
    display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#section-2{
    background-color: #118ab2;  
}
#section-3{
  background-color: #FFD166;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-3-col{
  display: flex;
  flex-direction: column;
}
.button-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6vh;
    padding: 5px;
    margin: 30px auto;
    background: #000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }
  .button-down:hover {
    transform: translate3d(0, 10px, 0);
  }
  .button-down::after {
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  .button-down::after {
    top: 10px;
    transform: rotate(225deg);
  }
  .ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .ul .li {
    list-style: none;
    color: #484848;
    font-family: 'Lobster', cursive;
    letter-spacing: 15px;
    animation: iluminar 1.4s linear infinite;
  }
  
  @keyframes iluminar {
    0% {
      color: #fff;
      text-shadow: none;
    }
    90% {
      color: #fff;
      text-shadow: none;
    }
    100% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
  }
  
  .ul .li:nth-child(1) {
    animation-delay: 0s;
  }
  .ul .li:nth-child(2) {
    animation-delay: 0.1s;
  }
  .ul .li:nth-child(3) {
    animation-delay: 0.2s;
  }
  .ul .li:nth-child(4) {
    animation-delay: 0.3s;
  }
  .ul .li:nth-child(5) {
    animation-delay: 0.4s;
  }
  .ul .li:nth-child(6) {
    animation-delay: 0.5s;
  }
  .ul .li:nth-child(7) {
    animation-delay: 0.6s;
  }
  .ul .li:nth-child(8) {
    animation-delay: 0.7s;
  }
  .ul .li:nth-child(9) {
    animation-delay: 0.8s;
  }
  .ul .li:nth-child(10) {
    animation-delay: 0.9s;
  }
  .ul .li:nth-child(11) {
    animation-delay: 0.10s;
  }
  .ul .li:nth-child(12) {
    animation-delay: 0.11s;
  }
  .ul .li:nth-child(13) {
    animation-delay: 0.12s;
  }
  .ul .li:nth-child(14) {
    animation-delay: 0.13s;
  }
  .ul .li:nth-child(15) {
    animation-delay: 0.14s;
  }
  
  h2{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 6vh;
  }
  .h2-tutorial{
    display: flex;
  }
  .list{
    display: flex;
    flex-direction: column;
    margin: 6vh 15vh 0 15vh;
  }
  .list-item{
    padding: 5vh 0;
  }
  .btn-jugar {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
  }
  
  .btn-jugar:before {
    content: "JUGAR";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    opacity: 0;
    transition: all 0.5s;
  }
  
  .btn-jugar:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  .h2{
    color: #000;
    margin-bottom: 10vh;
    font-size: 5vh;
  }
  @media (min-width:320px){
    .section-2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .h2-tutorial{
      text-align: center;
    }
    .li{
      font-size: 10vh;
    }
    .list{
      margin: 2vh 8vh;
    }
    .list-item{
      font-size: 3.5vh;
    }
    .section-3{
      display: flex;
      flex-direction: column;
    }
    .btn-jugar{
      padding: 30px 60px;
    }
    .h2{
      font-size: 6.5vh;
    }
  }
  @media(min-width:480px){
    .li{
      font-size: 14vh ;
    }
    .btn-jugar{
      padding: 60px 120px;
      font-size: 8vh;
    }

  }
  @media(min-width:1024px){
    #section-3{
      flex-direction: row;
    }
  }