@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272343;
}
h1{
    font-family: 'Lobster', cursive;
    letter-spacing: 1.5px;
}
.logo{
    color: #FFF;
}
#quiz{
    background-color: #e3f6f6;
    text-align: center;
}
#question{
    font-size: 1.7rem;
    color: #5a6883;
}
#btn-0,#btn-1,#btn-2,#btn-3{
    background-color: #118ab2;
    color: #FFF;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
}
#btn-0:hover,#btn-1:hover,#btn-2:hover,#btn-3:hover,#btn-0:focus,#btn-1:focus,#btn-2:focus,#btn-3:focus{
    cursor: pointer;
    background-color: #073b4c;
}
#progress{
    font-size: 20px;
}
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo .icon-menu{
    margin: 5px;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
}
.nav{
    position: absolute;
    left: -100%;
    top: 60px;
    width: 100%;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu--link{
    display: block;
    padding: 20px;
    background-color: #FBA919;
    text-decoration: none;
    color: #FFF;
}
.menu--link:hover{
    background: white;
    color: #FBA919;
}
.mostrar{
    left: 0;
}
#correcto{
    background-color: #06d6a0;
    color: #FFF;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
}
#incorrecto{
    background-color: #ef476f;
    color: #FFF;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
}
#disable{
    background-color: gray;
    color: #FFF;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    pointer-events: none;
    
}
@media(min-width:480px){
    .logo{
        font-size: 40px;
    }
    .nav{
        left: 0;
    }
    .icon-menu{
        display: none;
    }
    .menu--link{
        font-size: 3rem;
    }
    .header .contenedor{
        justify-content: center;
    }
    #quiz{
        padding-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
        height: 100%;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        padding: 5rem 0;
        font-size: 4rem;
    }
    #choices{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #progress{
        font-size: 3rem;
    }
    .btn{
        width: 90%;
        padding: 30px 0;
        font-size: 3rem;
    }
}
@media(min-width:768px){
    #btn-0,#btn-1,#btn-2,#btn-3{
        padding: 15px 50px;
    margin: 10px 40px 10px;
        font-size: 2.5rem;
    }
    #btn-next{
        background-color: #118ab2;
    color: #FFF;
    width: 250px;
    border-radius: .3rem;
    padding: 15px 30px;
    margin: 10px 40px 10px;
    font-size: 1.5rem;
    }
    #btn-next:hover{
        cursor: pointer;
        background-color: #073b4c;
    }
    #disable{
        padding: 15px 50px;
    margin: 10px 40px 10px;
        font-size: 2.5rem;
    }
    #incorrecto{
        padding: 15px 50px;
    margin: 10px 40px 10px;
        font-size: 2.5rem;
    }
    #correcto{
        padding: 15px 50px;
    margin: 10px 40px 10px;
        font-size: 2.5rem;
    }
    .h2{
        font-size: 2.5rem;
    }
    
}
@media(min-width:1024px){
    h1{
        font-size: 3rem;
    }
    h2{
        padding: 2rem 0;
        font-size: 2.5rem;
    }
    #quiz{
        margin-left: 30rem;
        margin-right: 30rem;
    }
    #progress{
        font-size: 2rem;
    }
    #btn-0,#btn-1,#btn-2,#btn-3{
        padding: 15px 30px;
    margin: 10px 40px 10px;
        font-size: 1.5rem;
    }
    #btn-next{
        background-color: #118ab2;
    color: #FFF;
    width: 250px;
    border-radius: .3rem;
    padding: 15px 30px;
    margin: 10px 40px 10px;
    font-size: 1.5rem;
    }
    #btn-next:hover{
        cursor: pointer;
        background-color: #073b4c;
    }
    #disable{
        padding: 15px 30px;
    margin: 10px 40px 10px;
    font-size: 1.5rem;
    }
    #incorrecto{
        padding: 15px 30px;
    margin: 10px 40px 10px;
    font-size: 1.5rem;
    }
    #correcto{
        padding: 15px 30px;
    margin: 10px 40px 10px;
    font-size: 1.5rem;
    }
    .h2{
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
}